*{
  margin: 0;
  padding: 0;
}
body{
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  height: 100vh;
  background-color: rgb(23, 23, 24);
}
.container{
  display: flex;
  flex-direction: column;
  background-color: black;
  border-radius: 20px;
  color: white;
  width: 500px;
  gap: 20px;
}
.display{
  align-self: flex-end;
  margin: 10px;
  font-size: 80px;
}
.panelButtons{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px;
  padding: 10px;
}
.panelButtons>input{
  height: 100px;
  flex: 0 0 100px;
  border-radius: 100%;
  font-size: 30px;
  border: none;
  box-shadow: inset 0px 0px 3px black;
  cursor: pointer;
}
.panelButtons>input:nth-child(17n){
  border-radius: 50px;
  flex: 0 0 220px;
  text-align: left;
  padding-left: 40px;
}
.panelButtons>input:nth-child(18n),.panelButtons>button:nth-child(19n){
  flex: 0 0 100px;
}
#grey{
  background-color: rgb(57, 57, 57);
  color: white;
  font-size: 40px;
}
#orange{
  background-color: rgb(255, 170, 34);
  font-size: 50px;
  color: white;
}
#bright-grey{
  background-color: rgb(173, 173, 173);
  color: black;
}
#grey:hover{
  background-color: rgb(67, 67, 67);
}
#bright-grey:hover{
  background-color: rgb(183, 183, 183);
}
#orange:hover{
  background-color: rgb(252, 178, 59);
}
#bright-grey:active{
  background-color: rgb(210, 210, 210);
}
#grey:active{
  background-color: rgb(100, 100, 100);
}
#orange:active{
  background-color: rgb(255, 207, 129);
}
.disabled{
  opacity: 50%;;
}